<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Flipkart Clone, <%= @object.name %></h1>
    <p>
      You have successfully signed up to flipkart_colne.com,
      your username is: <%= @object.email %>.<br>
    </p>
 
    <h4>Thanks for joining and have a great day!</h4>
    <h5>Team Flipkart Clone Admin</h5>

  </body>
</html>
